@page
@model IndexModel
@{
    ViewData["Title"] = "Jobs pattern demo";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div> *@

<div class="text-center">
    <p>
        Go to <a href="swagger">OpenAPI definition</a>
    </p>
</div>

<div class="text-center">
    <p>
        or
    </p>
</div>

<div class="text-center">
    <p>
        <button onclick="startDemo(this.value)" value="ping" class="btn btn-primary">Start ping demo</button>
        <div id="job-running" style="visibility: hidden" class="spinner-border text-primary"></div>
    </p>
    <div class="" style="visibility: hidden" id="job-id-container">
        <label class="pr-2 font-weight-bold" for="job-id">Job Id:</label>
        <span class="font-italic" id="job-id"></span>
    </div>
    <div class="" style="visibility: hidden" id="job-state-container">
        <label class="pr-2 font-weight-bold" for="job-state">Job State:</label>
        <span class="font-italic" id="job-state"></span>
    </div>
    <div class="" style="visibility: hidden" id="job-output-container">
        <label class="pr-2 font-weight-bold" for="job-output">Job Output:</label>
        <span class="font-italic" id="job-output"></span>
    </div>
    <div class="text-danger" style="visibility: hidden" id="job-error-container">
        <label class="pr-2 font-weight-bold" for="job-error">Job Error:</label>
        <span class="font-weight-bold" id="job-error"></span>
    </div>
</div>
