@page
@model IndexModel
@{
    ViewData["Title"] = "Jobs pattern demo";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div> *@

<div class="text-center">
    <p>
        Go to <a href="swagger">OpenAPI definition</a>
    </p>
</div>

<div class="text-center">
    <p>
        or
    </p>
</div>

<div class="text-center">
    <p>
        <button onclick="createJob(this.value)" value="ping" class="btn btn-primary">Start ping demo</button>
    </p>
    <div class="" style="visibility: hidden" id="job-id-container">
        <label class="pr-2 font-weight-bold" for="job-id">Id:</label><span id="job-id"></span>
    </div>
    <div class="" style="visibility: hidden" id="job-state-container">
        <label class="pr-2 font-weight-bold" for="job-state">State:</label><span id="job-state"></span>
    </div>
    <div class="" style="visibility: hidden" id="job-output-container">
        <label class="pr-2 font-weight-bold" for="job-output">Output:</label><span class="text-primary" id="job-output"></span>
    </div>
    <div class="text-danger" style="visibility: hidden" id="job-error-container">
        <label class="pr-2 font-weight-bold" for="job-error">Error:</label><span id="job-error"></span>
    </div>
</div>
